@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}



* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

body {
    margin: 0;
    border: 0;
    padding: 0;
    background: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
    font-family: 'Raleway', sans-serif;
}

li{
    display: inline-block;

}

.container {
    margin: 10px auto;
}

#TopQuestion span {
  margin-left: 415px;
}
h1,h2{
  text-align: center;
}
/* Styles coding */

/* Background */

#background {
    margin: 70px auto;
    max-width: 1100px;
    min-height: 710px;
    border-radius: 10px;
    position: relative;
    backdrop-filter: blur(100px); /*this command make its blured*/
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5); 
    background: rgba(0,0,0,0.25);
    color: #fff;
}

/* Main */
#main {
    position: absolute;
    top: 46%;
    left: 36.5%;
  }

#main a {
  font-size: 55px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #afacad 5%);
  border: 0;
  color: rgb(61, 61, 61);
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #08d2ff;
  outline: transparent;
  position: relative;
  padding: 15px;
  }

  #main a::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'START THE TEST';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #a7cccf;
    clip-path: var(--slice-0);}

    #main a:hover::after {
      animation: 1s glitch;
      animation-timing-function: steps(2, end);
    }


#TotalImages p:first-of-type {
    font-size: 30px;
    line-height: 40px;
    margin: 30px 0;
  }

#TotalImages p:last-of-type {
    font-size: 20px;
    margin-top: 30px;
  }


#questions{
  display: flex;
  justify-content: center;
} 

  
#questions img {
    background-color:aliceblue;
  }

#TopQuestion span{
  font-size:  5px;
}

#answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 0;
    gap: 18px
  }

 #answers img {
    cursor: pointer;
    background-color: aliceblue;
    transition: .3s all;
  }
  
#answers img:hover {
    transform: scale(1.12);
  }

  #result {
    position: absolute;
    top: 30%;
    left: 44%;
  }
  
  #result p {
    font-size: 30px;
    line-height: 25px;
  }

  
  
  #result span {
    font-size: 34px;
  }
  
  span:last-child{
    color:;
  }